@font-face {
    font-family: 'Rubik-Medium';
    src: url('../assets/fonts/Rubik-Medium.ttf');
};
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../assets/fonts/Rubik-Regular.ttf');
};
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../assets/fonts/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubik-Light';
    src: url( '../assets/fonts/Rubik-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../assets/fonts/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../assets/fonts/Montserrat-Thin.ttf');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('assets/fonts/Fontspring-DEMO-proximanovaexcn-regular.otf');
}
@font-face {
  font-family: 'Inter-Light';
  src: url('../assets/fonts/Inter_18pt-Light.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     
  }
  .header {
      display: flex;
      flex-direction: column;  
      font-family: "Rubik-Medium";
      font-size: 16px;
    }
   
    
    .schedule {
      display: flex;
      position: fixed;
      justify-content: center;
      background: #EE7D43;
      color: white;
      font-family: 'Inter-Light', sans-serif;
      font-size: 14px;
      width: 100%;
      height: 50px;
      padding-top: 10px;
      z-index: 2000;
    }
    
    .navigator {
      position: fixed;
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center; 
      background-color: #fff;
      top: 40px;
      height: 80px;
      border-bottom: 2px solid #EE7D43;
      z-index: 2000;
      flex-wrap: nowrap;
      padding: 0 20px;
      box-sizing: border-box;
     
    }
  
   
  
    .btns-cont-1 {
      display: flex; 
      align-items: center; 
      font-family: 'Rubik-Medium ', sans-serif;
      justify-content: center;
      position: absolute;
      gap: 50px;
    }
   
     .btns-cont-2 {
      display: flex; 
      align-items: center; 
       justify-content: flex-end;
      font-family: 'Rubik-Medium ', sans-serif;
     
      gap: 50px;
       
    }
    
    .main-btn, .menu-btn, .contact-btn, .search-btn, .wishlist-btn  {
     
      font-size: 16px; 
      background-color: #fff; 
      border: none;
      color: black;
      font-family: 'Rubik-Medium', sans-serif;
      transition: 0.3s;
       
      text-align: center; /* Центрирует текст внутри кнопок */
    }
  
    .menu-btn {
     
      font-size: 16px; 
      background-color: #fff; 
      border: none;
      font-family: 'Rubik-Medium', sans-serif;
      
    }
    .menu-btn:hover {
      cursor: pointer;
      transition: 0.3s;
      color: #EE7D43;
    }
   
     .main-btn:hover {
      cursor: pointer;
      transition: 0.3s;
      color: #EE7D43;
    }
  
    .contact-btn:hover {
      cursor: pointer;
      transition: 0.3s;
      color: #EE7D43;
    }
  
    .sign-in-btn {
      background-color: #EE7D43;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 200px;
      font-family: 'Rubik-Medium' , sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
   
    @media (max-width: 1300px) {
      .btns-cont-1 {
         display: flex;
         gap: 20px;
      }
      .btns-cont-2 {
        display: flex;
        gap: 20px;
      }
    }
    @media (max-width: 1000px) {
      .container {
        display: flex;
        justify-content: space-between;
      }
      .btns-cont-1 {
        display: flex;
        gap: 20px;
        
           
        
      }
      .btns-cont-2 {
        display: flex;
        gap: 20px;
     
      }
      @media (max-width: 950px) {
        .btns-cont-1 {
          display: flex;
          position: relative;
        }
      }
      @media (max-width: 800px) {
       
         
        .btns-cont-2 {
          display: flex;
           
  
        }
      }
    }
    @media (max-width: 700px) {
      .container {
        display: flex;
        gap: 20px;
        
      }
      .btns-cont-1 {
        display: flex;
        gap: 10px;
         
      }
      .btns-cont-2 {
        display: flex;
        gap: 10px;
       
      }
    }
    @media (max-width: 600px) {
      .btns-cont-1 {
        flex-direction: column;
      }
    }
    main {
         
        padding-top: 160px;
    }
    .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    .txt p {
        font-family: 'Montserrat-Regular';
        color: grey;
    }
    .txt p span {
        color: #EE7D43;
    }
    .txt h1 {
        font-family: 'Montserrat-SemiBold';
        font-size: 30px;
        padding-top: 30px;
    }
    .blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #EDEDF0;
        border-radius: 5px;
        width: 270px;
        height: 343px;

    }
    .grey-block {
        width: 244px;
        height: 192px;
        background: #EDEDF0;
        margin-top: 10px;
    }
    .p-txt {
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        
    }
    .cost-button {
        display: flex;
        gap: 100px;
        margin-top: 50px;
        border-top: 1px solid #EDEDF0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cost-button-cheese {
        display: flex;
        gap: 100px;
        margin-top: 70px;
        border-top: 1px solid #EDEDF0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cost {
        color: #EE7D43;
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
    }
    .button {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .button button {
        width: 20px;
        height: 22px;
        background: none;
        border: 1px solid #2929291A;
    }
    .costs {

    }
    .necost {
        font-family: 'Montserrat-SemiBold';
        font-size: 14px;
        text-decoration: line-through;
        color: #969696;
    }
    .main-blocks {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .i-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #EDEDF0;
        width: 270px;
        height: 244px;
    }
    .i-p {
        font-family: 'Montserrat-SemiBold';
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EDEDF0;
    }
    .i-p span {
        color: #EE7D43;
    }
    .i-p-2 {
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid #EDEDF0;
    }
    .i-p-2 span {
        color: #EE7D43;
    }
    .i-block button {
        width: 222px;
        height: 40px;
        background: #EE7D43;
        color: #fff;
        border: none;
        border-radius: 3px;
        
    }