@font-face {
    font-family: 'Rubik-Medium';
    src: url('../assets/fonts/Rubik-Medium.ttf');
};
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../assets/fonts/Rubik-Regular.ttf');
};
@font-face {
    font-family: 'Rubik-Bold';
    src: url('../assets/fonts/Rubik-Bold.ttf');
}
@font-face {
    font-family: 'Rubik-Light';
    src: url( '../assets/fonts/Rubik-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../assets/fonts/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../assets/fonts/Montserrat-Thin.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
.header {
    display: flex;
    flex-direction: column;  
    font-family: "Rubik-Medium";
    font-size: 16px;
  }
  
  .schedule {
    display: flex;
    position: fixed;
    justify-content: center;
    background: #EE7D43;
    color: white;
    font-family: 'Rubik-Medium', sans-serif;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    z-index: 2000;
  }
  
  .navigator {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center; 
    background-color: #fff;
    top: 40px;
    height: 80px;
    border-bottom: 2px solid #EE7D43;
    z-index: 2000;
    flex-wrap: nowrap;
    padding: 0 20px;
    box-sizing: border-box;
   
  }

 

  .btns-cont-1 {
    display: flex; 
    align-items: center; 
    font-family: 'Rubik-Medium ', sans-serif;
    justify-content: center;
    position: absolute;
    gap: 50px;
  }
 
   .btns-cont-2 {
    display: flex; 
    align-items: center; 
     justify-content: flex-end;
    font-family: 'Rubik-Medium ', sans-serif;
   
    gap: 50px;
     
  }
  
  .main-btn, .menu-btn, .contact-btn, .search-btn, .wishlist-btn  {
   
    font-size: 16px; 
    background-color: #fff; 
    border: none;
    color: black;
    font-family: 'Rubik-Medium', sans-serif;
    transition: 0.3s;
     
    text-align: center; /* Центрирует текст внутри кнопок */
  }

  .menu-btn {
   
    font-size: 16px; 
    background-color: #fff; 
    border: none;
    font-family: 'Rubik-Medium', sans-serif;
    color: #EE7D43;
  }
 
   .main-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #EE7D43;
  }

  .contact-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #EE7D43;
  }

  .sign-in-btn {
    background-color: #EE7D43;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 200px;
    font-family: 'Rubik-Medium' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
  @media (max-width: 1300px) {
    .btns-cont-1 {
       display: flex;
       gap: 20px;
    }
    .btns-cont-2 {
      display: flex;
      gap: 20px;
    }
  }
  @media (max-width: 1000px) {
    .container {
      display: flex;
      justify-content: space-between;
    }
    .btns-cont-1 {
      display: flex;
      gap: 20px;
      
         
      
    }
    .btns-cont-2 {
      display: flex;
      gap: 20px;
   
    }
    @media (max-width: 950px) {
      .btns-cont-1 {
        display: flex;
        position: relative;
      }
    }
    @media (max-width: 800px) {
     
       
      .btns-cont-2 {
        display: flex;
         

      }
    }
  }
  @media (max-width: 700px) {
    .container {
      display: flex;
      gap: 20px;
      
    }
    .btns-cont-1 {
      display: flex;
      gap: 10px;
       
    }
    .btns-cont-2 {
      display: flex;
      gap: 10px;
     
    }
  }
  @media (max-width: 600px) {
    .btns-cont-1 {
      flex-direction: column;
    }
  }
   
  .main-menu {
    display: flex;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Regular', sans-serif; /* Применение шрифта */
    font-size: 14px;
    gap: 5px;
  }
  .p-grey {
    color: #666666;
  }
  .p-orange {
    color: #EE7D43;
  }
  .main-product-cont {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
  }
  .main-product-cont img {
      width: 500px;
  }
  .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .h14 {

  }
  .h14 h1 {
    padding-bottom: 15px;
    font-size: 30px;
    font-family: 'Montserrat-SemiBold';
  }
  .h14 h4 {
    color: #666666;
    font-family: 'Montserrat-Regular';
  }
  .cont-sos {
    border: 1px solid #EDEDF0;
    margin-top: 30px;
    padding: 20px 35px;
    font-family: 'Montserrat-SemiBold';
    font-size: 18px;
    height: 156px;
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .cont-sos h3 {
    padding-bottom: 6px;
  }
  .cont-sos p {
    color: #666666;
    display: flex;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
  }
  .cont-sos div {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;

  }
  .moz1::after {
    content: '';
    position: absolute;
    left: 90px;
    right: 40px;
    top: 70%; /* Позиционируем линию по центру */
    height: 1px; /* Высота линии */
    background-color: #EDEDF0; /* Цвет линии */
    z-index: -1; /* Помещаем линию за текстом */
}
.moz2::after {
  content: '';
  position: absolute;
  left: 90px;
  right: 40px;
  top: 70%; /* Позиционируем линию по центру */
  height: 1px; /* Высота линии */
  background-color: #EDEDF0; /* Цвет линии */
  z-index: -1; /* Помещаем линию за текстом */
}
 .moz3::after {
  content: '';
  position: absolute;
  left: 90px;
  right: 40px;
  top: 70%; /* Позиционируем линию по центру */
  height: 1px; /* Высота линии */
  background-color: #EDEDF0; /* Цвет линии */
  z-index: -1; /* Помещаем линию за текстом */
 } 
 .cost-wish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EDEDF0;
  margin-top: 20px;
  height: 80px;
  
 }
 .cost-wish h2 {
  color: #EE7D43;
  font-family: 'Montserrat-Regular';
  margin-left: 35px;
 }
 .cost-wish button {
   border: none;
   background-color: #EE7D43;
   color: #fff;
   padding: 10px 15px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   gap: 5px;
   width: 178px;
   height: 50px;
   justify-content: center;
   gap: 10px;
   margin-right: 35px;
 }
 .cost-wish button:hover {
  cursor: pointer;
   color: #EE7D43;
   background-color: #fff;
   transition: 0.3s;
   border: 1px solid #EE7D43;
 }
 .cost-wish button img {
    width:13px;
    height: 19px;
 }

 .free {
  display: flex;
  align-items: center;
  color: #666666;
  gap: 20px;
  margin-top: 30px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
 }
 .free img {
  width: 38px;
  height: 19px;
 }
 .sale {
   display: flex;
   align-items: center;
   gap: 30px;
   color: #666666;
   padding-top: 20px;
   font-family: 'Montserrat-Regular';
   font-size: 14px;
 }
 .sale img {
  width: 30px;
  height: 30px;
 }
 .imgs {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 600px;
 }
 .imgs img {
   width: 70px;
   height: 70px;
  
 }
   .or {
    display: flex;
    align-items: center;
  border: 5px solid #EE7D43;
  border-radius: 5px;
 }

 .compound {
   display: flex;
   flex-direction: column;
  margin-top: 50px;
  align-items: center;
  
  padding-left: 20px;
  padding-right: 20px;
 }
  .panel {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    padding-left: 80px;
    padding-top: 60px;
    padding-bottom: 20px;
    gap: 50px;
    font-family: 'Montserrat-Medium';
    font-size: 14px;
    border-bottom: 1px solid #EDEDF0;
    width: 1212px;
  }
  .chosen {
    border-bottom: 4px solid #EE7D43;
    width: 110px;
    padding-left: 16px;
    padding-bottom: 18px;
    position: absolute;
  }
  .unchosen {
    padding-left: 120px;
    
    
  }
  .txt22 {
    border: 1px solid #EDEDF0;
    width: 1212px;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
  }
  .txt1 {
    font-family: 'Montserrat-Medium';
  }
  .txt2 {
    font-family: 'Montserrat-Regular';
  }
  .w {
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-align: center;
    color: #292929;
    letter-spacing: 1px;
    margin-top: 60px;
  }
  .cont-combos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pre-chevron, .post-chevron {
       border: none;
       background-color: #fff;
  }

  .cost-wish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EDEDF0;
    height: 80px;
    font-family: 'Rubik-Medium', sans-serif;
    color: #EE7D43;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .card-btn {
    border: 1px solid #EDEDF0;
    background: #fff;
    font-family: 'Rubik-Medium', sans-serif;
    padding-top: 20px; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  } 
  .card {
    padding-top: 40px;
    gap: 20px;
   
  }
  .card-btn h2 {
    margin-top: 20px;
  }
  .card-btn p {
    color: #666666;
    margin-bottom: 60px;
  }
  .in-wishlist {
    display: flex;
    border: none;
    background-color: #fff;
    align-items: center;
    font-family: 'Rubik-Medium', sans-serif;
    color: black;
    gap: 10px;
  }
  .cost {
    border-right: 1px solid #EDEDF0; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 20px;
  }
   .cost-wish-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #EDEDF0;
    height: 30px;
    font-family: 'Rubik-Medium', sans-serif;
    color: #EE7D43;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   }
  .all-combos-btn {
    height: 50px;
    width: 300px;
    border: 1px solid #EE7D43;
    background: #fff;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
  }
  .all-combos-btn-cont {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
   .all-combos-btn:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #EE7D43;
    border: 1px solid #EDEDF0;
    color: #fff;
   }
   .footer-position-main {
    display: flex;
    justify-content: center;
}
.footer-position {
    display: flex;
    width: 1290px;
    height: 398px;
    background-color: #FFFFFF;
    justify-content: center;
}
 
.white-block-f { 
    display: flex;
    background: #232323;
    width: 1440px;
    height: 492px;
    justify-content: center;
    align-items: center;
}
footer {
   display: flex; 
   flex-direction: column;
   align-items: start;
   width: 1290px;
   padding-left: 56px;
}
.footer-infa {
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 24px;
}
.logo {
    
    padding-top: 56px;
    width: 153px;
    height: 56px;
}
.footer-infopt {
    display: flex;
    gap: 500px;
}
.footer-opts {
    display: flex;
    
    flex-direction: column;
}
.footer-opt {
    display: flex;
    gap: 250px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
    
}
.footer-opt-2 {
    display: flex;
    gap: 277px;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.low {
    border-top: 1px solid #CDCDCD;
    width: 1130px;
    margin-top: 30px;
    padding-top: 10px;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
}
   